
.projectPopup {
    /*background-color: white;*/
    background-color: black;
    color: white;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 1000px;
    height: 600px;
    z-index: 30;
    display: flex;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    outline: 2px solid white;
    transition: .6s;
}

.projectPopup::after {
    content: "";
    background: url('../../images/back.gif');
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    opacity: .5;
    scale: 1.2;
    width: 50%;
}

.projectPopup__info {
    width: 45%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}

.projectPopup__title {
    font-size: 50px;
    margin: 0;
    font-weight: normal;
}

.projectPopup__description {
    margin: 30px 0 0;
    font-size: 25px;
}

.projectPopup__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.no-project {
    color: white;
    font-size: 40px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media (max-width: 1100px) {
    .projectPopup {
        width: 85%;
        height: 750px;
    }

    .projectPopup::after {
        object-fit: cover;
        width: 65%;
    }

    .projectPopup__info {
        width: 40%;
    }
}

@media (max-width: 950px) {
    .projectPopup__buttons {
        flex-direction: column;
        gap: 15px;
    }

    .projectPopup::after {
       scale: 1.15;
    }

    .projectPopup__info {
        margin-left: 7%;
    }
}

@media (max-width: 900px) {
    .projectPopup {
        display: flex;
        flex-direction: column;
        height: 500px;
        overflow: scroll;
        overflow-x: hidden;
    }

    .projectPopup::after {  
        width: 100%;
        background-repeat: no-repeat;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        scale: 1.2;
        background-position: center;
    }

    .projectPopup__info {
        width: 100%;
        display: grid;
        grid-template-rows: repeat(3, fit-content);
        grid-template-columns: repeat(2, 1fr);
        margin: 30px 20px 0;
        row-gap: 30px;
        padding-bottom: 50px;
    }

    .projectPopup__title {
        grid-column: 1/4;
        width: fit-content;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

    .projectPopup__description, .projectPopup__buttons {
        margin: 0;
        gap: 0;
    }

    .projectPopup__description {
        margin-left: 5%;
    }

    .projectPopup__buttons {
        grid-column: 1/4;
        width: 80%;
        margin: 0 auto;
        gap: 10px;
    }
}

@media (max-width: 550px) {
    .projectPopup__title {
        font-size: 40px;
    }

    .projectPopup__description {
        font-size: 20px;
    }
}

@media (max-width: 450px) {

    .projectPopup__close-button {
        width: 25px;
        height: 25px;
        top: 10px;
        right: 10px;
    }
}

@media (max-width: 400px) {
    .projectPopup__buttons {
        width: 90%;
    }
}