.header {
    
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
}

.header__container {
    max-width: 1140px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__link {
    text-decoration: none;
    color: white;
    font-size: 35px;
    background-color: unset;
    border: none;
    cursor: pointer;
    transition: .3s ease;
}

.header__link:hover {
    opacity: .7;
}


@media (max-width: 1240px) {
    .header__container {
        margin: 0 50px;
    }
}

@media (max-width: 660px) {
    .header__link {
        font-size: 28px;
    }
}