.filters__section {
    margin: 30px 0 auto !important;
    max-width: 1720px;
}

.filters__section p {
    color: white;
    width: 100%;
}

.filters__text {
    color: white;
    font-size: 30px;
    margin: 0;
}

.filters__block-name:first-child {
    font-size: 20px;
    color: rgb(210, 48, 210) !important;
}

.filters {
    display: flex; 
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.filters__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.filters__block {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
